*{margin:0;padding: 0; }
.wrap{
	min-width: 1280px;
}
 .header{
          height: 60px;
}
.logo img{
  width: 30px;height: 30px;
  margin-top: 5px;margin-right: 5px;
  
}
.logo{
  float: left;
  margin-left: 70px;
  font-size: 25px;
  color: #393a3a;
  font-family: "黑体";
  margin-top: 10px;
}
.nav{
  float: right;
  margin-right: 30px;
}
 .nav li{
  float: left;
  list-style: none;
  height: 57px;width: 100px;
  line-height: 65px;
  text-align: center;
  


}
.nav li a{
  text-decoration: none;
  font-size: 16px;
  color: #6e6e6e;
  font-family: "微软雅黑";
  text-align: center;

  display: block;
  height: 57px;
}
#signin{ 
    background-image: url("../image/header_1.jpg") ;
    background-repeat: no-repeat;
    background-position: 18px 10px;

  }
  #signin a{
        color: #ea6b60;
  }
 #signin a{
       border:  none;
  }
  .nav li a:hover{
    color: #ea6b60;
    border-bottom: 3px solid #ea6b60;
  }
  .main .tonl{
  	height: 690px;
  	background-image: url("../image/title_1.png");
  	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  .main .mask{
  	height: 690px;width: 100%;
  	background-color: black;
  	opacity: 0.4;
}
.tonl h1{
	font-size: 60px;
	font-family: "微软雅黑";
	color: #f5f5f5;
	position: absolute;
	top: 227px;left: 114px;
}
.tonl p{
    font-size: 21px;
	font-family: "微软雅黑";
	color: #f5f5f5;
	position: absolute;
	top: 308px;left: 124px;
}
.tonl input{
	width: 330px;height: 65px;
	background-color: #ea6b60;
	font-size: 30px;
	font-family: "微软雅黑";
	color: #ffffff;
	border: none;
    position: absolute;
    top: 430px;left: 124px;
    cursor: pointer;
}
.tonl-list{
	height: 250px;
	position: relative;
}
.icons{
	height: 120px;
}
.icons div{
	width: 25%;
	float: left;
	text-align: center;
	margin-top: 40px;
	position: relative;
}
.tonl-text{
	height: 50px;
	color:#aaaaaa; 
}
.tonl-text div{
	width: 24.8%;
	float: left;
    text-align: center;
	border-right:2px solid #aaaaaa;
}
#tonl-text_4{
	border: none;
}
.about_up{
	height: 360px;
	background-color: #ededec;
	position: relative;

	overflow: hidden;
}
.about_up img{
	position: absolute;
	margin:auto;
	top: 85px; left: 0; right: 0;  
}
.about_up p{
	font-family: "微软雅黑";
	font-size: 54px;
	color:#a0a1a1;
	text-align: center;	
	margin-top: 224px;

}
.about_center{
	height: 340px;
	background-image: url("../image/area.png");
	background-repeat: no-repeat;
	background-size: cover;
    font-family: "微软雅黑";
	color: #ffffff;

	position: relative;
}
.mask2{
	background-color: #CE6D39;
	opacity: 0.3;
	height: 340px;
}
.about_center h3{
	text-align: center;
	font-size: 21px;

	margin: auto;
	position: absolute;
	top: 50px;left: 0;right: 0;
}
.about_center hr{
	width: 30px;
	border: 2px solid #ffffff;

	margin: auto;
	position: absolute;
	top: 85px;left: 0;right: 0;
}
.about_center p{
	text-align: center;
	margin: auto;
	position: absolute;
	top: 105px;left: 0;right: 0;
}
.about_center input{
	width: 235px;height: 35px;
	font-family: "微软雅黑";font-size: 15px;

    border: none;
}
.about_center .sel2{
	border: 1px solid #be4e48;
}
.about_center .sel1,.sel2,.sel3{
	background-image: url("../image/input.png");
	background-repeat: no-repeat;
	background-position: 210px center;
	margin-right: 30px;
}
.about_center ul{
	width: 235px;
	background-color: #e4e3e5;
	font-size: 15px;
	color: #787879;
	border: 1px solid #be4e48;
	border-top: none;
}    
.about_center ul li{
	height: 35px;
	padding-left: 30px;
	line-height: 35px;
    list-style: none;
}
.about_center ul li:hover{
    background-color: #be4e48;
	color: #ffffff;
	background-image: url("../image/check.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}
.about_center .sub{
	background-color: #bf4f48;
	color: white;
}
.about_center .inputs{
	position: absolute;
	left: 50%;
    left: 50%;
    margin-left: -514px;
	top: 170px; 
	
}
.about_center ul{
	position: absolute;
	top: 36px;left: 270px;
}
.about_bottom{
	height: 605px;
	background-color: #f6f6f6;
    text-align: center;

}
.about_bottom div{
	width: 220px;height: 390px;
	display: inline-block;
	margin-right: 35px;
	margin-top: 100px;
	overflow: hidden; 
}

.about_bottom img{
	width: 200px;height: 310px;
	text-align: center;
}
.about_bottom span{
	background-color: #ffffff;
	padding: 14px 8px;
	border: 1px solid #e1dedc;
	margin-bottom: 12px;
	height: 309px;
	float: left;	

}
.about_bottom h4{
	font-size: 14px;
	margin-bottom: 9px;
	color: #524c4a;
	text-align: center;
	width: 217px;
}
.about_bottom p{
	font-size: 12px;
	color: #7f7773;
	text-align: center;
}
.about_bottom div:nth-of-type(2) h4{
	font-size: 20px;
	letter-spacing: 10px;
	margin-left: 10px;
	
}
.show-top{
	height: 567px;
	font-family: "微软雅黑";
    text-align: center;

}
.top-left{
	height: 100%;
	width: 66.5%;
    background-image: url("../image/show-top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    overflow: hidden;
    float: left;
    position: relative;
}
.top-left img{
	position: absolute;
	right: 0;top: 49%;
}
.top-left h3{
	font-size: 50px;
    margin-top: 125px;
 
}
.top-left h1{
	font-size: 158px;
    line-height: 85%;
}
.top-left p{
	position: relative;
	top: 50px;
	line-height: 40px;
}
.top-right{
    height: 100%;
    width: 33.4%;
    float: right;

}
.top-right h3{
    font-size: 25px;
    margin-top: 85px;
}
.top-right span{
	color: #e74f4d;
}
.top-right p{
	font-size: 15px;
	font-family: "宋体";
	color: #aaaaaa;
	text-align: left;
	padding: 30px 70px 35px 70px;
	line-height: 3em;
}
.top-right button{
	width: 110px;height: 30px;
	color: #e74f4d;
	background-color: transparent;
	border: 1px solid #e74f4d;
	cursor: pointer;
	transition: all 0.5s;
	margin-bottom: 25px;
}
.top-right button:hover{
	background-color:#e74f4d;
    color: white;
}
.top-right .slideDot span{
	display: inline-block;
	height: 10px; width: 10px; 
	border-radius: 50%; 
	border: 1px #929293 solid; 
	margin: 7px;
	cursor: pointer;
	transition: all 0.5s;
}
.top-right .slideDot span:hover{
	background-color: #e74f4d;
	width: 22px;
	border-radius: 25%;
	border: none;
}
.top-right .slideDot .active{
	background-color: #e74f4d;
	width: 22px;
	border-radius: 25%;
	border: none;
}
.show-bottom{
	height: 520px;
    width: 100%

}
.show-bottom div{
	width: 33.3%;height: 520px;
    font-family: "黑体";
	font-size: 21px;
    float: left;
}
.show-bottom .bottom-left{
	background-color: #e74f4d;
    color: white;
    text-align: center;

}
.show-bottom .bottom-center{
    text-align: center;


}
.show-bottom .bottom-right{
    background-image: url("../image/show-right.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    
}

.show-bottom hr{
	width: 29px;
	border: 1px solid #abaaaa;
	margin: 20px auto;

}
.show-bottom .bottom-left button{
    width: 110px;height: 30px;
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	cursor: pointer;
	transition: all 0.5s;
	margin-bottom: 25px;
}
.show-bottom .bottom-left button:hover{
	background-color: #fff;
	color: #e74f4d;
}
.show-bottom .bottom-center button{
	width: 110px;height: 30px;
	color: #e74f4d;
	background-color: transparent;
	border: 1px solid #e74f4d;
	cursor: pointer;
	transition: all 0.5s;
	margin-bottom: 25px;
}
.show-bottom .bottom-center button:hover{
	background-color: #e74f4d;
	color: #fff;
}
.show-bottom p{
	margin-top: 170px;
	line-height: 30px;
}
.show-bottom .bottom-right img{
	margin-top: 250px;
}
.join{
	height: 750px;
}
.join .join-title{
	text-align: center;
	height: 300px;
	overflow: hidden;

}
.join .join-title h4{
	font-size: 21px;
	color: #323333;
	font-family: "华文仿黑";
	margin-top: 115px;
}
.join .join-title hr{
	width: 2em;
	border: 2px solid #e74f4d;
	margin: 8px auto;
	transition: all 0.2s;
}
.join .join-title hr:hover{
	width: 12em;
}
.join .join-title h5{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #aaaaaa;
	margin-top: 10px;
}
.join-main{
	display: block;
	width: 1070px;
	margin: 0 auto;


}
.main-left{
    margin-top: 15px;
    width: 370px;
    display: inline-block;
    float: left;
    

}
.main-left h6{
	font-size: 14px;
	color: #231815;
	font-family: "华文仿黑";
}
.main-left p{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #4f4947;
    margin-top: 30px;
}
.main-left h5{
   font-size: 12px;
	font-family: "微软雅黑";
	color: #4f4947;
   text-indent: 18em;
   cursor: pointer;
}
.main-right{
	display: inline-block;
	width: 700px;
    
}
.main-right input{
	height: 40px;width: 310px;
	font-family: "微软雅黑";
	font-size: 12px;
	background-color: #edecee;
	border: none;
	margin-top: 15px;margin-left: 20px;
	transition: all 0.4s ease-in-out;
	text-indent: 1em;
    
}
.main-right input:focus{
	background-color: white;
}
.main-right ::-webkit-input-placeholder
 { 
  color: #231815;
}
.main-right textarea{
	width: 645px;height: 160px;
	background-color: #edecee;
	margin-top: 15px;margin-left: 20px;
	border: none;
	resize: none;
	transition: all 0.4s ease-in-out;
	text-indent: 1em;
}
.main-right textarea:hover{
	border-radius: 5px;
    box-shadow: 1px 1px 1px #B3AFAC,-1px -1px 1px #B3AFAC;
}
.main-right textarea:focus{
	background-color: white;
}
.main-right input:nth-child(6){
	cursor: pointer;
	margin-left: 25%;
}

.main-right input:hover{
	border-radius: 5px;
    box-shadow: 1px 1px 1px #B3AFAC,-1px -1px 1px #B3AFAC;
}

.message{
	height: 360px;
	background-color: #32353e;
	text-align: center;
	overflow: hidden;
}
.message h2{
	color: #ffffff;
	font-size: 21px;
	font-family: "微软雅黑";
	margin-top: 90px;
}
.message h5{
	color: #fff;
	font-size: 12px;
	font-family: "宋体";
    margin-top: 10px;
    margin-bottom: 30px;
}
.message input{
	height: 40px;width: 430px;
	background-color: #dfdfdf;
	border: none;
	transition: all 0.4s;

}
.message input:hover{
    border-radius: 5px;
    box-shadow: 1px 1px 1px #B3AFAC,-1px -1px 1px #B3AFAC;
}
.message input:focus{
	background-color: #fff;
}
.message button{
	height: 40px;width: 80px;
	border: none;
	background-color: #6f7178;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}
.message button:hover{
	border-radius: 5px;
}
.message ul{
	width: 250px;
    margin: 0 auto;
}
.message ul li{
	float: left;
	width: 30px;height: 30px;
	list-style: none;
	margin-left: 25px;
    margin-top: 30px;
    cursor: pointer;
    opacity: 0.4;
}
.message ul li:hover{
    opacity: 1;
}
.message ul li:nth-child(1){
	background-image: url("../image/qq.png");
}
.message ul li:nth-child(2){
	background-image: url("../image/weibo.png");
	background-repeat: no-repeat;
}
.message ul li:nth-child(3){
	background-image: url("../image/twitter.png");
	background-repeat: no-repeat;
}
.message ul li:nth-child(4){
	background-image: url("../image/facebook.png");
	background-repeat: no-repeat;
}
.footer-bottom{
	height: 60px;
	background-color: #2f2f38;
}
.footer-bottom h4{
	color: #fff;
	font-size: 12px;
	float: left;
	margin-top: 30px;
	margin-left: 5%
}
.footer-bottom p{
	color: #fff;
	font-size: 12px;
	float: right;
	cursor: pointer;
	margin-top: 30px;
	margin-right: 5%;
}