*{margin:0;padding: 0;font-family: "Î¢ÈíÑÅºÚ"}
img{width: 80px;width: 80px; }
.main{border: 1px solid #999;overflow: hidden;background-color: #eee;margin:20px 20px;position: relative;}
/*×ó*/
.left_bar{width: 240px;min-height:600px;position: absolute;left: 0;top;0;}
.left_img{padding: 20px 100px 20px 20px;margin-left: 20px;margin-top: 20px;background-color: white;border: 1px solid #999;}
.left_p{position: absolute;left:135px;top: 40px; }
/*ÖÐ*/
.center_bar{min-height:600px;margin: 0 160px 0 240px;}
.center_p{padding: 20px;background-color: white;margin-top: 20px;border:1px solid #999; }
.center_bar:before{content: "";display: table; }
/*ÓÒ*/
.right_bar{width: 160px;min-height:600px;position: absolute;right: 0;top: 0}
.right_bar img{padding: 10px;}
.right_img{padding: 10px;margin:20px;background-color: white;border: 1px solid #999;}